#searchbox {
    margin:110px;
    text-align:center;
    
}
#h1title{
    font-family:arial;
    text-align:center;
    color:white;
}
#logo1 {
    width:600px;
    max-width:100%;
    display:flex;
    margin:auto;
    height: auto;
    padding-top: 35px;
    padding-bottom: 25px;
}

#titl  {
    
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    text-decoration: double;
    font-style: italic;
}


hr {
    text-decoration: double;
    border: #004AAD solid 4px;
}

@media(max-width: 1200px){
    #navbar{
        display:none;
       }
    #mobileNavbar{
        display: block;
    }
    
    
    }

    @media(min-width: 1200px){
         
        #mobileNavbar{
            display: none;
        }
        
        }

#navbar {
    background-color: #004AAD;
    border: #004AAD solid 1px;
    border-radius: 5px;
    color:white;
    font-family: arial;
    padding-top: 5px;
    padding-bottom: 5px;


 }

.navbarButton {

    padding-right: 15px;
    padding-right: 15px;
    
}

#mobileNavbar{
    background-color: #004AAD;
    border: #004AAD solid 1px;
    border-radius: 5px;
    color:white;
    font-family: arial;
}
.mobileNavbarButton {
    padding-right: 15px;
    padding-right: 15px;
}
 
.mobileNavbarButton:hover , .navbarButton:hover {
text-decoration: underline;
}

#mainDiv {
    background-color: #004AAD;
    border: white solid 1px;
    border-radius: 5px;
}







 

 #footer1 {
     text-align: center;
     font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
      background-color: #004AAD;
     color: white;
     border: #004AAD 1 px solid;
     border-radius: 20px;
     padding: 1px;
 }


 #mainDiv {
     padding-bottom: 140px;
 }

 



   a, a:hover, a:visited, a:active {
       color:inherit;
       text-decoration:none;
   }